/* GLOBAL */
@import "./global/global.css";
@import "./global/header.css";
@import "./global/footer.css";

/* UTILIDADES COMPONENTES */
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";
@import "./utilidades/componentes.css";
@import "./utilidades/formulario.css";

/* HOME */
@import "./home/introducao.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";

/* BICICLETAS HOME */
@import "./bicicletas/bicicletas-lista.css";
@import "./bicicletas/bicicletas.css";

/* SEGUROS */
@import "./seguros/seguros.css";
@import "./seguros/vantagens.css";
@import "./seguros/perguntas.css";

/* TERMOS */
@import "./termos/termos.css";

/* BICICLETA */
@import "./bicicleta/bicicleta.css";
@import "./bicicleta/seguro.css";

/* CONTATO */
@import "./contato/contato.css";
@import "./contato/lojas.css";
