/* HEADER MENU INICIO */

.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  color: #ffffff;
  padding: 16px 0px;
  display: inline-block;
  font-size: 1.125rem;
  position: relative;
  font-family: "Poppins";
  font-weight: 400;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: #fff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    background: #111111;
    padding: 12px 16px;
    border-radius: 4px;
    transition: 0.3s;
  }

  .header-menu a:hover {
    background-color: #2e2e2e;
  }

  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
    justify-content: center;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 0.875rem;
  }
}

/* HEADER MENU FIM */
